aiofiles==0.8.0
anyio==3.5.0
asgiref==3.5.0
autopep8==1.6.0
CacheControl==0.12.6
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
ci-info==0.2.0
click==8.0.3
cmake==3.22.1
colorama==0.4.4
configobj==5.0.6
configparser==5.2.0
cycler==0.10.0
decouple==0.0.7
dj-database-url==0.5.0
Django==3.2.4
django-crispy-forms==1.13.0
django-on-heroku==1.1.2
django-pandas==0.6.6
django-taggit==1.4.0
dlib @ file:///C:/Users/shree/OneDrive/Desktop/web%20projects/Attendance-System/dlib_compiled-main/dlib-19.22.99-cp39-cp39-win_amd64.whl
easyocr==1.4.1
etelemetry==0.3.0
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.6.0
firebase-admin==5.0.2
frontend==0.0.3
future==0.18.2
gcloud==0.18.3
google-api-core==1.31.2
google-api-python-client==2.21.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-cloud-core==2.0.0
google-cloud-firestore==2.3.2
google-cloud-storage==1.42.2
google-crc32c==1.1.2
google-resumable-media==2.0.2
googleapis-common-protos==1.53.0
grpcio==1.40.0
gTTS==2.2.4
h11==0.13.0
httplib2==0.19.1
idna==2.10
imageio==2.9.0
isodate==0.6.1
itsdangerous==2.1.2
joblib==0.17.0
jws==0.1.3
kiwisolver==1.3.1
lxml==4.8.0
matplotlib==3.3.3
msgpack==1.0.2
mypy-extensions==0.4.3
networkx==2.7.1
nibabel==3.2.2
nipype==1.7.1
numpy==1.19.3
oauth2client==4.1.3
opencv-python==4.5.4.60
opencv-python-headless==4.5.5.64
packaging==21.3
pandas==1.1.5
pathlib==1.0.1
pathspec==0.8.1
pdf2image==1.16.0
Pillow==8.1.1
proto-plus==1.19.0
protobuf==3.18.0
prov==2.0.0
psycopg2-binary==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.20
pycryptodome==3.10.1
pydot==1.4.2
PyMuPDF==1.19.6
pyparsing==2.4.7
PyPDF2==1.27.7
Pyrebase4==4.5.0
pytesseract==0.3.9
python-bidi==0.4.2
python-dateutil==2.8.1
python-firebase==1.2
python-jwt==2.0.1
pytz==2020.4
PyWavelets==1.3.0
pyxnat==1.4
PyYAML==6.0
rdflib==6.1.1
regex==2020.11.13
requests==2.26.0
requests-toolbelt==0.9.1
rsa==4.7.2
scikit-image==0.19.2
scipy==1.5.4
simplejson==3.17.6
six==1.15.0
sniffio==1.2.0
sqlparse==0.4.1
starlette==0.19.0
tabulate==0.8.9
tesseract==0.1.3
tifffile==2022.3.25
toml==0.10.2
torch==1.11.0
torchvision==0.12.0
traits==6.3.2
typed-ast==1.4.2
typing_extensions==4.2.0
uritemplate==3.0.1
urllib3==1.26.4
uvicorn==0.17.6
whitenoise==5.3.0
